.text-sample{
      -fx-font-size: 16px;
      -fx-font-family: "Arial";
      -fx-font-weight: bold;
  }

.outside-anchor{
    -fx-background-color: #BC412B;
}

.Profile-pane{
    -fx-backgrund-color: #FFFFFF;
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
    -fx-border-radius: 10px;
    -fx-border-color: #3f3f3f;
    -fx-font-size: 45px;
}
.Search-pane{
    -fx-border-radius: 10px;
    -fx-border-color: #3f3f3f;
    -fx-font-size: 40px;
}

.Profile-tab{
    -fx-font-size: 35px;
    -fx-font-family: "Inter";
    -fx-border-radius: 10px;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
}

.CurrentProfile-tab{
    -fx-font-size: 35px;
    -fx-font-family: "Inter";
    -fx-border-radius: 10px;
    -fx-background-color: #D4D4D4;
    -fx-border-color: #000000;
}

.Profil-text{
    -fx-font-size: 50px;
    -fx-font-family: "Inter";
}
.Change-buttons{
    -fx-font-size: 30px;
    -fx-font-family: "Inter";
    -fx-font-weight: light italic;
    -fx-border-radius: 10px;
    -fx-border-color: #3f3f3f;
}
.Input-pane{
    -fx-border-radius: 10px;
    -fx-border-color: #000000;
    -fx-font-size: 35px;
    -fx-font-family: Inter;
}

.lowerPane-buttons{
    -fx-font-size: 45px;
    -fx-font-family: Inter;
    -fx-font-weight: Italic;
    -fx-border-radius: 10px;
    -fx-border-color: #3f3f3f;
}

.SecondAnchor-pane{
    -fx-background-color: #FFFFFF;
}

.BuyHistory-tab{
    -fx-font-size: 35px;
    -fx-font-family: Inter;
    -fx-font-weight: light;
    -fx-border-radius: 10px;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
}

.Date-Label{
    -fx-font-size: 40px;
    -fx-font-family: Inter;
}

.lowerPane-buttons:hover{
    -fx-font-size: 45px;
    -fx-font-family: Inter;
    -fx-font-weight: Italic;
    -fx-border-radius: 10px;
    -fx-border-color: #3f3f3f;
    -fx-background-color: #C0C0C0;
}

.Profile-tab:hover{
    -fx-font-size: 35px;
    -fx-font-family: "Inter";
    -fx-border-radius: 10px;
    -fx-border-color: #000000;
    -fx-background-color: #C0C0C0;
}

.Profile-pane:hover{
    -fx-backgrund-color: #C0C0C0;
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
    -fx-border-radius: 10px;
    -fx-border-color: #3f3f3f;
    -fx-font-size: 45px;
}
.Change-buttons:hover{
    -fx-font-size: 30px;
    -fx-font-family: "Inter";
    -fx-font-weight: light italic;
    -fx-border-radius: 10px;
    -fx-border-color: #C0C0C0;
}

.BuyHistory-tab:hover{
    -fx-font-size: 35px;
    -fx-font-family: Inter;
    -fx-font-weight: light;
    -fx-border-radius: 10px;
    -fx-background-color: #C0C0C0;
    -fx-border-color: #000000;
}
